extends ./layout
block title
    title Koa Douban
block content
    include ./includes/header
    .container-fluid
        .sidebar
        .content
            .row
                .col-md-6
                    .card
                        img.card-img-top(src='https://static.segmentfault.com/sponsor/20180705.png')
                        .card-body
                            h4.card-ttile 这是电影标题
                            p.card-desc 这是电影描述
                        .card-footer
                            small.text-muted 1天前
                .col-md-6
                    .card
                        img.card-img-top(src='https://static.segmentfault.com/sponsor/20180705.png')
                        .card-body
                            h4.card-ttile 这是电影标题
                            p.card-desc 这是电影描述
                        .card-footer
                            small.text-muted 1天前
            .row
                .col-md-6
                    .card
                        img.card-img-top(src='https://static.segmentfault.com/sponsor/20180705.png')
                        .card-body
                            h4.card-ttile 这是电影标题
                            p.card-desc 这是电影描述
                        .card-footer
                            small.text-muted 1天前
                .col-md-6
                    .card
                        img.card-img-top(src='https://static.segmentfault.com/sponsor/20180705.png')
                        .card-body
                            h4.card-ttile 这是电影标题
                            p.card-desc 这是电影描述
                        .card-footer
                            small.text-muted 1天前
